

.footer{
    background: var(--couleur-dominante);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.Footer_titre{  
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    text-decoration: none;
    font-family: var(--font-titre);
    color: var(--blanc);
    text-align: center;
    list-style-type: none; /* Retire les points de la liste */
}

.footer_titre_un {
    text-decoration: none;
    font-family: var(--font-titre);
    color: var(--blanc);
}

.Footer_lien
{ display: block;
justify-content: right;
text-decoration: none;
list-style-type: none; /* Retire les points de la liste */
background: var(--couleur-dominante) url('../../../public/icon/Rond\ Gauche.svg') no-repeat left center;

}

.Footer_list {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    gap: 35px;
}
.footer__social {
    justify-content: space-between;
    margin: 2px;;
}

.footer__nom {
    text-decoration: none;
    padding-bottom: 30px;
    font-size: var(titre-2);
    font-family: var(--font-titre);
}
.Footer__nommage
{
    
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-titre);
    color: var(--blanc);
}

.Footer_mentions {
    text-decoration: none;
    display: center;
    font-size: var(titre-2);
    font-family: var(--font-titre);
    color: var(--blanc);
    padding-bottom: 30px;
    list-style-type: none;
    justify-content: center;
}

.Footer_mention_titre {

    font-family: var(--font-titre);
    display: center;
    color: var(--blanc);
    list-style-type: none;
    justify-content: center;
}
