


.header { /* L'en-tête prendra toute la largeur de l'écran */
    width: 100%; /* Mais ne dépassera jamais 500px */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--couleur-dominante) url('../../../public/icon/Rond\ Gauche.svg') no-repeat left center;
    height: 160px;
}

.header__title {

    font-family: var(--font-titre);
    font-size: 12px;
    text-decoration: none;
    color: var(--blanc);
    margin-left: 5px;
}

.header__menuBtn {
    background-color: var(--couleur-dominante);
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.header__nav {
    display: flex;
    flex-direction: column; /* Les éléments s'affichent de haut en bas */
    position: absolute; /* Positionne le nav par rapport à son conteneur relatif le plus proche */
    top: 100%; /* Positionne le nav juste en dessous du bouton */
    left: 0; /* Aligne le nav à gauche */
    background-color: var(--couleur-dominante);
    
}


.menu__item {
    text-decoration: none;
    list-style-type: none;
    margin: 12px 0;
}

.menu__link {   
    color: var(--blanc);
    font-family: var(--font-titre);
    font-size: 18px;
    text-decoration: none;
    

    
}

