


.header { /* L'en-tête prendra toute la largeur de l'écran */
    max-width: 500px; /* Mais ne dépassera jamais 500px */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--couleur-dominante) url('../../../public/icon/Rond\ Gauche.svg') no-repeat left center;
    margin: 0 auto; /* Centrer l'en-tête horizontalement */
    height: 160px;
}

.header__title {

    font-family: var(--font-titre);
    font-size: 12px;
    text-decoration: none;
    color: var(--blanc);
    margin-left: 5px;
}

.header__menu {
    background-color: var(--couleur-dominante);
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}



